<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-securit
      y">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TuJuego.com</title>
    </head>
    <body>
        <section th:fragment="listadoJuegos" id="juegos">
            <div class="container">
                <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                    <div class="container" style="background-color: rgba(0, 0, 0, 0); padding: 10px; text-align: center;">
                        <h2 class="inline" style="color: white;" th:text="#{index.destacados}"></h2>
                    </div>
                    <div class="col">
                        <div id="resultsBlock"></div>
                    </div>
                </div>
                <div class="row row-cols-3" th:if="${juegos != null and !juegos.empty}">
                    <div class="card" th:each="juego : ${juegos}" style="background-color: rgba(0, 0, 0, 0.5);">
                        <div class="card-body" style="color: white;">
                            <h5 class="card-title">[[${juego.nombre}]]</h5>
                            <figure style="">
                                <img th:src="@{${juego.imagen}}" height="200"/>
                                <figcaption>[[${juego.precio} + ' (' + ${juego.existencias} + ')']]</figcaption>
                            </figure>
                            <form>
                                <input type="hidden" name="id" th:value="${juego.id_juego}"/>
                                <input type="hidden" name="existencia" th:value="${juego.existencias}"/>
                                <button style="background-color: rgba(0, 255, 0, 0.5); color: white; "class="btn btn-trasparent" id="addCar" name="addCar" onclick="addCard(this.form)" type="button"><i class="fas fa-cart-plus"></i></button>
                            </form>
                            <p class="card-text">[[${juego.empresa}]]</p> 
                        </div>
                    </div>
                </div>
        </section>
        <div th:fragment="verCarrito" th:unless="${#lists.isEmpty(listaItems)}"> 
            <form action="/carrito/listado">
                <button type="submit" style="background-color: rgba(0, 255, 255, 0.8);" class="btn btn-trasparent">
                    <i class="fas fa-cart-plus"></i>
                    <span th:text="#{carrito.veritems}"></span>   [[${listaTotal}]]
                </button>
            </form>
        </div> 
        <section th:fragment="listadoCarrito" id="items">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                            <div class="card-header" style="color: white;">
                                <h4 th:text="#{carrito.titulo}"></h4>
                            </div>
                            <div th:if="${items != null and !items.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark" style="color: white;">
                                        <tr>
                                            <th th:text="#{carrito.tabla.numero}"></th>
                                            <th th:text="#{carrito.tabla.nombre}"></th>
                                            <th th:text="#{carrito.tabla.precio}"></th>
                                            <th th:text="#{carrito.tabla.cantidad}"></th>
                                            <th th:text="#{carrito.tabla.total}"></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item, contador : ${items}">
                                            <td  style="color: white;">[[${contador.count}]]</td>
                                            <td  style="color: white;">[[${item.nombre}]]</td>
                                            <td class="text-end"  style="color: white;">[[${item.precio}]]</td>
                                            <td class="text-center"  style="color: white;">[[${item.cantidad}]]</td>
                                            <td class="text-center"  style="color: white;">[[${item.cantidad*item.precio}]]</td>
                                            <td>
                                                <a th:href="@{/carrito/eliminar/}+${item.id_juego}" class="btn btn-danger">
                                                    <i class='fas fa-trash'></i><span th:text="#{accion.eliminar}"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2 text-white" th:if="${items== null or items.empty}" th:text="#{carrito.sinarticulos}">                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center" style="background-color: rgba(0, 0, 255, 0.5); color: black; margin-bottom: 15px;">
                            <div class="card-body">
                                <h3 th:text="#{carrito.montototal}"></h3>
                                <h4 class="fs-4">$[[${carritoTotal}]] Usd.</h4>
                            </div>
                        </div>
                        <div class="card text-center text-white mb-3" style="background-color: rgba(255, 0, 0, 0.5); color: red;">
                            <div class="card-body">
                                <a th:href="@{/}" class="btn btn-trasparent"style="background-color: rgba(0, 0, 0, 0);">
                                    </i><span th:text="#{carrito.seguircomprando}"></span>
                                </a>
                            </div>
                        </div>
                        <div class="card text-center
                             text-white mb-3" style="background-color: rgba(0, 255, 0, 0.5); color: green;">
                            <div class="card-body">
                                <a th:href="@{/facturar/carrito}"class="btn btn-trasparent" style="background-color: rgba(0, 0, 0, 0);">
                                    <i class='fas fa-fordward'></i><span th:text="#{carrito.facturarypagar}"></span>
                                </a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="filtros"class="d-flex justify-content-center">
            <div class="col-md-3">
                <form method="GET" th:action="@{/juegosPorCategoria}" class="was-validated">
                    <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="categoriaId" style="color: white;" th:text="#{filtro.filtrarcat}"></label>
                                <select name="categoriaId" class="form-select">
                                    <option value="" th:text="#{filtro.todascategorias}"></option>
                                    <option th:each="categoria : ${categorias}" th:value="${categoria.idCategoria}" th:text="${categoria.descripcion}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" style="background-color: rgba(255, 0, 255, 0.5); color: white; " class="btn btn-trasparent">
                                <i class="fas fa-filter"></i> <span th:text="#{filtro.filtrar}"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>