<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TuJuego.Com</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <article style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="container mt-4" style="text-align: center; color: white;">
                <br></br>
                <h2>[[#{nosotros.titulo}]]</h2>
                 <ul><li>[[#{nosotros.texto1}]]</li></ul>
                <br></br>
                <h3>[[#{nosotros.mision}]]</h3>
                <ul><li>[[#{nosotros.texto2}]]</li></ul>
                <br></br>
                <h3>[[#{nosotros.vision}]]</h3>
                <ul><li>[[#{nosotros.texto3}]]</li></ul>
                <br></br>
                <br></br>
                <p>[[#{nosotros.texto4}]]</p>
                <p>[[#{nosotros.texto5}]]</p>
                <p>[[#{nosotros.texto6}]]</p>
            </div>
        </article>
        <br>
        </br>
        <br>
        </br>
        <div class="row row-cols-3 justify-content-center">
            <div class="col">
                <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                    <div class="card-body text-center" style="color: white;">
                        <h5 class="card-title">[[#{nosotros.redes}]]</h5>
                            <div class="row">
                                <div class="col">
                                    <a href="https://www.facebook.com/workshop.com" target="_blank" class="btn btn-light btn-lg"><i class="fab fa-facebook-f fa-2x"></i></a>
                                </div>
                                <div class="col">
                                    <a href="https://www.instagram.com/workshop.com" target="_blank" class="btn btn-light btn-lg"><i class="fab fa-instagram fa-2x"></i></a>
                                </div>
                                <div class="col">
                                    <a href="https://wa.me/+50688888888" target="_blank" class="btn btn-light btn-lg"><i class="fab fa-whatsapp fa-2x"></i></a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>


        <footer th:replace="~{layout/plantilla :: footer}">
        </footer>
    </body>
</html>