<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>TuJuego.Com</title>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"></header>
    <br/>
    <br/>
    <section th:replace="~{contacto/fragmentos :: agregarContacto}"></section> 
    <br/>
    <section th:replace="~{contacto/fragmentos :: listadoContactos}"></section> 
    <footer th:replace="~{layout/plantilla :: footer}"></footer>
</body>
</html>